$main-font: Roboto;

$header-height: 50px;
$footer-height: 100px;

$primary-color: rgb(196, 76, 49);
$secondary-color: rgb(248, 248, 248);
$tertiary-color: rgb(36, 34, 31);
$quaternary-color: rgb(224, 224, 224);

$sidePanelPadding: 20px;

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    min-width: 350px;
    height: 100%;
  }
  
  * {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  
  .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .header {
    color: $secondary-color;
    background: $primary-color;
    height: $header-height;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .title {
    font-size: 20px;
    font-weight: 700;
  }

  .mainBody {
    display: flex;
    width: 100%;
    flex: 1;
  }

  .mainBody#small{
    flex-direction: column;
  }

  .mainBody#small.todoContent {
    justify-content: center;
  }

  .newProjectBtn {
    width: 30px;
    height: 30px;
    border-radius: 5px;
  }

  .deleteAllProjectsBtn {
    background-color: $primary-color;
    color: white;
    margin-top: 50px;
    padding: 5px;
    border-radius: 10px;
  }

  .sidePanel {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    padding: $sidePanelPadding;
    flex-shrink: 0;
  }
  
  .sidePanel#large {
    background: $secondary-color;
    width: 20%;
  }

  .sidePanel#small {
    width: 100%;
    justify-content: center;
  }

  .sidePanelTitle {
    text-align: center;
    padding: 5px;
  }

  .projectTitleContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .newProjectDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .deleteProjectBtn {
    width: 20px;
    height: 20px;
    background-image: url('./images/delete.png');
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
  }

  .projectTitle {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }

  .projectTitle:hover {
    background-color: $quaternary-color;
    border-radius: 5px;
  }

  #selected {
    background-color: $quaternary-color;
    border-radius: 5px;
  }

  .contentArea {
    width: 100%;
    height: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
  }

  .todoContent {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    grid-gap: 50px;
  }

  .todoContent#small {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .addBtnContainer {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .priorityIcon {
    width: 100%;
    height: 15px;
    position: absolute;
    top: 0;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
  }

  .addTodo {
    width: 50px;
    height: 50px;
    border-radius: 5px;
  }

  .todo {
    width: 350px;
    height: 450px;
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr;
    background-color: $secondary-color;
    border: 1px solid $quaternary-color;
    border-radius: 20px;
    position: relative;
    align-items: center;
    justify-items: left;
    padding: 15px;
    gap: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .todo label {
    margin-top: 5px;
  }

  .todoName, .todoDescription {
    width: 100%;
    font-size: 20px;
    text-align: center;
  }

  .radioContainer {
    display: grid;
    grid-template-columns: 50px auto;
    justify-items: left;
    align-items: center;
  }

  label {
    font-size: 17px;
  }

  input[type=radio] {
    border: 0px;
    width: 100%;
    height: 20px;
  }

  .deleteBtn {
    background-image: url('./images/delete.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 0;
    color: white;
    border-radius: 7px;
    cursor: pointer;
  }

  button {
    font-size: 20px;
  }

  textarea {
    resize: none;
    height: 100px;
    overflow-y: auto;
  }

  .footer {
    color: $secondary-color;
    background: $tertiary-color;
    min-height: $footer-height;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .copyRightText {
    padding: 20px;
  }

  hr {
    margin-top: 10px;
    margin-bottom: 30px;
    width: 100%;
  }

  //lightbox

  .lightbox {
    background: rgb(36, 34, 31, 0.8);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .formContainer {
    width: 60%;
    height: 60%;
    padding: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    position: relative;
  }

  .close {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./images/closeIcon.png');
    background-position: center;
    background-repeat: no-repeat;
  }

  .form {
    width: 300px;
    height: 100%;
    background-color: $secondary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }