$main-font: Roboto;

$header-height: 50px;
$footer-height: 100px;

$primary-color: rgb(196, 49, 49);
$secondary-color: rgb(246, 246, 246);
$tertiary-color: rgb(36, 34, 31);
$quaternary-color: rgb(198, 198, 198);

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  
  * {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  
  .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .header {
    color: $secondary-color;
    background: $primary-color;
    height: $header-height;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .title {
    position: absolute;
    left: 0%;
    margin-left: 10px;
    font-size: 20px;
    font-weight: 700;
  }

  .newProjectBtn {
    background-color: $secondary-color;
    width: 30px;
    height: 30px;
    border-radius: 0px;
  }

  .mainBody {
    display: flex;
    flex: 1;
    min-height: 100px;
  }
  
  .sidePanel {
    background: $secondary-color;
    width: 30%;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }

  .sidePanelTitle {
    text-align: center;
    padding: 5px;
  }

  .projectTitle {
    padding: 5px;

  }

  .projectTitle:hover {
    background-color: $quaternary-color;
  }

  #selected {
    background-color: rgb(39, 215, 39);

  }

  .contentArea {
    width: 100%;
    padding: 50px;
    display: inline-grid;
  }

  .footer {
    color: $secondary-color;
    background: $tertiary-color;
    height: $footer-height;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .copyRightText {
    padding: 20px;
  }

  hr {
    margin-top: 10px;
    margin-bottom: 30px;
    width: 100%;
  }

  //lightbox

  .lightbox {
    background: rgb(36, 34, 31, 0.8);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .formContainer {
    width: 60%;
    height: 60%;
    padding: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    position: relative;
  }

  .close {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./images/closeIcon.png');
    background-position: center;
    background-repeat: no-repeat;
  }

  .form {
    width: 300px;
    height: 100%;
    background-color: $quaternary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }