$main-font: Roboto;

$header-height: 50px;
$footer-height: 100px;

$primary-color: rgb(196, 49, 49);
$secondary-color: rgb(246, 246, 246);
$tertiary-color: rgb(36, 34, 31);

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  
  * {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  
  .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .header {
    color: $secondary-color;
    background: $primary-color;
    height: $header-height;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .title {
    position: absolute;
    left: 0%;
    margin-left: 10px;
    font-size: 20px;
    font-weight: 700;
  }

  .newProjectBtn {
    background-color: $secondary-color;
    width: 30px;
    height: 30px;
    border-radius: 0px;
    border: none;
  }

  .mainBody {
    display: flex;
    flex: 1;
    min-height: 100px;
  }
  
  .sidePanel {
    background: $secondary-color;
    width: 30%;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }

  .sidePanelTitle {
    text-align: center;
    padding: 5px;
  }

  .projectTitle {
    padding: 5px;
  }

  .projectTitle:hover {
    background-color: gray;
  }

  .contentArea {
    width: 100%;
    padding: 50px;
    display: inline-grid;
  }

  .footer {
    color: $secondary-color;
    background: $tertiary-color;
    height: $footer-height;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .copyRightText {
    padding: 20px;
  }

  hr {
    margin-top: 10px;
    margin-bottom: 50px;
    width: 100%;
  }